
.fullpage2{
    display: block;
    width: 650px;
    background-color: #fff;
    margin: auto;
    box-shadow: 6px 10px 28px 0 rgba(0,0,0,0.4);
}
.template {
    position: relative;
    margin: 2em;
}

.template #top_name{
    color: rgb(142, 3, 65);
    font-size: 25px;
    font-weight: bolder;
}

.template h3{
    width: 100%;
    font-size: 20px;
    font-weight:bold;
}

#occupation{
    font-weight: bold;
}

.personaldetails{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.Summary{
    font-size: 18px;
    display: block;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    /* background-color: red; */
}
.exp,.edu{
    position: relative;
    height: 10vh;

}

@media only screen and (max-width:800px) {
    .fullpage2{
        width: 85%;
        background-color: #fff;
        margin: auto;
        box-shadow: 6px 10px 28px 0 rgba(0,0,0,0.4);
    }


}